<ng-container *ngIf="package$ | async as package">
  <h1 class="m-10 text-sm md:text-2xl font-bold text-start text-purple-800">{{ package?.title }}</h1>
  <div class="flex flex-row w-full">
  <div class="flex flex-col w-[70%]">
    <div class="px-3 w-full h-full md:h-[50vh] rounded-2xl">
      <img [src]="package.images[1].src" [alt]="package.images[1].alt" class="w-full h-full object-cover rounded-2xl shadow-lg">
    </div>
    <div class="flex flex-col w-full">
    <div class="sticky top-0 z-40 bg-white shadow-md">
      <ul class="flex flex-wrap items-center justify-between p-10 gap-4 border-b-2 border-gray-200">
        <li><a (click)="scrollToSection($event,'description')" class="text-gray-700 hover:text-purple-700 font-semibold">Descripción</a></li>
        <li><a (click)="scrollToSection($event,'itinerary')" class="text-gray-700  hover:text-purple-700 font-semibold">Itinerario</a></li>
        <li><a (click)="scrollToSection($event,'includes')" class="text-gray-700  hover:text-purple-700 font-semibold">Inclusiones</a></li>
        <li><a (click)="scrollToSection($event,'not_includes')" class="text-gray-700  hover:text-purple-700 font-semibold">No Incluido</a></li>
        <li><a (click)="scrollToSection($event,'prices')" class="text-gray-700  hover:text-purple-700 font-semibold">Precios</a></li>
        <li><a (click)="scrollToSection($event,'politics')" class="text-gray-700  hover:text-purple-700 font-semibold">Politicas</a></li>
        <ng-container *ngIf="package.optional?.length">
          <li><a  class="text-gray-700 hover:text-purple-700 font-semibold">Notas</a></li>
        </ng-container>
      </ul>
    </div>
    <div class="w-full lg:w-full bg-white shadow-lg p-10">

        <div class="bg-gray-100 p-6 rounded-2xl shadow-md">
          <ul class="grid grid-cols-1 md:grid-cols-2 gap-4 text-gray-700">
            <li class="flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-purple-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 4h10a2 2 0 012 2v12a2 2 0 01-2 2H7a2 2 0 01-2-2V9a2 2 0 012-2z" />
              </svg>
              Salidas diarias
            </li>
            <li class="flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-purple-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 8l7 7 7-7" />
              </svg>
              Servicio grupal
            </li>
            <li class="flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-purple-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
              Guía de turismo
            </li>
            <li class="flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-purple-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 11c.828 0 1.5-.672 1.5-1.5S12.828 8 12 8s-1.5.672-1.5 1.5S11.172 11 12 11zm0 0v6m0 0c0 1.1.9 2 2 2h4c1.1 0 2-.9 2-2v-5a2 2 0 00-2-2h-4a2 2 0 00-2 2z" />
              </svg>
              Cancelación Flexible
            </li>
            <li class="flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-purple-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.253v12.494m0 0L8.25 15m3.75 3.747l3.75-3.747" />
              </svg>
              Recojo desde hotel
            </li>
            <li class="flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-purple-700" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.253v12.494m0 0L8.25 15m3.75 3.747l3.75-3.747" />
              </svg>
              Español
            </li>
          </ul>
          <p class="text-sm text-purple-700 mt-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="inline w-5 h-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13 16h-1v-4h-1m1 4h1m-1-4v-2a2 2 0 011-1.732 2 2 0 012 0A2 2 0 0115 10v2a2 2 0 011 1.732V16m-2 0h-2" />
            </svg>
            Por favor leer las notas de viaje antes de reservar.
          </p>
        </div>

        <div id="description" class="p-8 bg-gray-50 rounded-lg shadow-lg mb-8">
        <h2 class="text-2xl font-semibold text-purple-700 my-4">{{ package?.subtitle }}</h2>
        <p  [innerHTML]="package.description"></p>
        <h2 class="text-2xl font-semibold text-purple-700 my-4">¿Por qué amarás el{{ package?.subtitle }}?</h2>
          <li *ngFor="let why of package.whyChooseUs">{{ why }}</li>
      </div>

        <div id="itinerary" class="p-8 bg-gray-50 rounded-lg shadow-lg mb-8">
          <h2 class="text-2xl font-semibold text-purple-700 mb-4">Itinerario</h2>
          <div class="flex flex-col text-xl mb-4">
            <span><strong>Inicio:</strong> {{package.startDate}}</span>
            <span><strong>Fin:</strong> {{package.endDate}}</span>
          </div>
          <ul class="space-y-6">
            <li *ngFor="let day of package.itinerary" class="bg-white p-6 rounded-lg shadow-sm border-l-4 border-purple-400">
              <p class="text-justify leading-relaxed" [innerHTML]="day"></p>
            </li>
          </ul>
        </div>

        <div id="includes" class="p-8 bg-gray-50 rounded-lg shadow-lg mb-8">
          <h2 class="text-2xl font-semibold text-purple-700 mb-4">Incluye</h2>
          <ul class="grid grid-cols-2 gap-4 ">
            <li class="flex items-center gap-2" *ngFor="let include of package.includes">
              <i class="fas fa-check text-purple-700"></i>
              <span class="font-normal ">{{ include }}</span>
            </li>
          </ul>
        </div>

        <div id="not_includes" class="p-8 bg-gray-50 rounded-lg shadow-lg mb-8">
          <h2 class="text-2xl font-semibold text-purple-700 mb-4">No Incluye</h2>
          <ul class="grid grid-cols-2 gap-4 ">
            <li class="flex items-center gap-2" *ngFor="let not of package.notIncluded">
              <i class="fas fa-x text-purple-700"></i>
              <span class="font-normal ">{{ not }}</span>
            </li>
          </ul>
        </div>

        <div id="prices" class="p-8 bg-gray-50 rounded-lg shadow-lg mb-8">
          <h2 class="text-2xl font-semibold text-purple-700 mb-4">Precios</h2>

          <table class="w-full text-left text-gray-700 border-collapse">
            <thead>
            <tr class="border-b border-gray-300">
              <th class="py-2 px-4">Tarifa</th>
              <th class="py-2 px-4">Precio por persona</th>
            </tr>
            </thead>
            <tbody>
            <tr class="border-b border-gray-200">
              <td class="py-2 px-4 font-medium">Peruano</td>
              <td class="py-2 px-4">{{ package.prices.per }}</td>
            </tr>
            <tr>
              <td class="py-2 px-4 font-medium">Extranjero</td>
              <td class="py-2 px-4">{{ package.prices.ext }}</td>
            </tr>
            </tbody>
          </table>
        </div>

        <ng-container *ngIf="package.optional?.length">
        <div id="notes" class="p-8 bg-gray-50 rounded-lg shadow-lg mb-8">
          <h2 class="text-2xl font-semibold text-purple-700 mb-4">Notas</h2>
          <ul class="list-disc list-inside text-gray-700 space-y-2">
            <li *ngFor="let note of package.optional">{{ note }}</li>
          </ul>
        </div>
        </ng-container>

        <ng-container *ngIf="package.politics?.length">
        <div id="notes" class="p-8 bg-gray-50 rounded-lg shadow-lg mb-8">
          <h2 class="text-2xl font-semibold text-purple-700 mb-4">Politicas</h2>
          <ul class="list-disc list-inside text-gray-700 space-y-2">
            <li *ngFor="let note of package.politics">{{ note }}</li>
          </ul>
        </div>
      </ng-container>

    </div>
  </div>
  </div>
    <div class="sticky top-5 w-[30%] h-[50vh] flex flex-col justify-center items-center bg-purple-800 mx-2 text-white rounded-2xl shadow-lg p-8">
      <h1 class="text-3xl font-bold mb-4 text-center">Reserva tu viaje</h1>
      <p class="text-lg font-semibold mb-6">Desde 300$</p>
      <button class="bg-yellow-500 text-purple-900 font-semibold px-12 py-4 rounded-2xl shadow-lg hover:bg-yellow-400 hover:text-purple-800 transition-all duration-300">
        Comprar Ahora
      </button>
    </div>
  </div>
</ng-container>
